<meta charset="UTF-8">


<div th:fragment="headerFragment">

    <header class="header">
        <div class="h_top">
            <a>
                <div class="h_top_item">회원가입</div>
            </a>
            <a>
                <div class="h_top_item">고객센터</div>
            </a>
            <a>
                <div class="h_top_item">로그인</div>
            </a>
        </div>
        <div class="h_mid">
            <div class="h_mid_logo">LOGO</div>
            <div class="h_mid_sherch">
                <input type="text" title="검색" class="sherch_input">
                <button type="button" class="sherch_btn">검색</button>
            </div>
            <div class="h_mid_item">이벤트</div>
            <div class="h_mid_item">좋아요</div>
            <div class="h_mid_item">장바구니</div>
            <div class="h_mid_item">기획전</div>
        </div>
        <div class="h_bot">
            <div class="h_bot_item">베스트</div>
            <div class="h_bot_item">아우터</div>
            <div class="h_bot_item">상의</div>
            <div class="h_bot_item">트레이닝</div>
            <div class="h_bot_item">베이직</div>
            <div class="h_bot_item">원피스</div>
            <div class="h_bot_item">스커트</div>
            <div class="h_bot_item">팬츠</div>
            <div class="h_bot_item">가방</div>
            <div class="h_bot_item">신발</div>
            <div class="h_bot_item">액세서리</div>
        </div>
    </header>
</div>